0 0 * * * mongo < ~/workspace/dist/zgz/game-server/script/rankingTask.js
30 0 * * * /root/.nvm/versions/node/v4.4.0/bin/node ~/workspace/dist/zgz/game-server/script/log2db.js > ~/workspace/logs/log2dbCron.log