<%- include header%>
<span style="white-space:pre">  </span><form action="/register" class="form-login" method="post" id="regist_form">
    <span style="white-space:pre">      </span><div class="header">
        <span style="white-space:pre">          </span>大同扎股子-注册
        <span style="white-space:pre">      </span></div>
    <span style="white-space:pre">      </span><div class="inputs">
        <span style="white-space:pre">          </span><input id="name" name="name" type="text" required="" placeholder="账号，字母开头，加数字或下划线，6-16位">
        <span style="white-space:pre">          </span><input id="password" name="password" type="password" required="" placeholder="密码，6-16位">
        <span style="white-space:pre">          </span><input id="passwordConfirm" name="passwordConfirm" type="password" required="" placeholder="密码确认，6-16位">
        <span style="white-space:pre">          </span><div class="link-2">
            <span style="white-space:pre">              </span><a href="/login">已有帐号?</a>
            <span style="white-space:pre">              </span><a href="/login">忘记密码?</a>
            <span style="white-space:pre">          </span></div>
        <span style="white-space:pre">          </span><div class="clear">
            <span style="white-space:pre">          </span></div>
        <span style="white-space:pre">          </span><div class="button-login">
            <span style="white-space:pre">              </span><input type="submit" value="注 册" id="regist_btn">
            <span style="white-space:pre">          </span></div>
        <span style="white-space:pre">      </span></div>
    <span style="white-space:pre">  </span></form>
<%- include footer%>  